* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;

}

.container {
    height: calc(100vh);
    width: calc(50vw + 200px);
    background: red;
}

.container {
display: grid;
place-items: center; /* Centraliza horizontal e verticalmente */
height: 100vh;
}

